@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

span:last-of-type {
  border-right: solid 3px orange;
  animation: animated-cursor 600ms steps(29) infinite;
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: orange;
  }
  to {
    border-right-color: transparent;
  }
}

.fadeIn {
  text-transform: none;
  /* opacity: 0; */
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
